php-soap/employees.wsdl

<?xml version="1.0"?>
<definitions name="EmployeesList" targetNamespace="urn:EmployeesList" xmlns:tns="urn:EmployeesList"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Employees">
      <xsd:element name="getEmployeeName" type="xsd:string" />
	  <xsd:element name="getOfficeID" type="xsd:string" />

    <xsd:complexType name='return'>
      <xsd:complexContent>
      <xsd:restriction base='soapenc:Array'>
        <xsd:attribute wsdl:arrayType='Employees[]' ref='soapenc:arrayType' />
      </xsd:restriction>
    </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name='Employees'>
      <xsd:all>
            <xsd:element
              name='firstName'
              type='xsd:string'/>
            <xsd:element
              name='lastName'
              type='xsd:string'/>
            <xsd:element
              name='email'
              type='xsd:string'/>
            <xsd:element
              name='jobTitle'
              type='xsd:string'/>
      </xsd:all>
    </xsd:complexType>
	</xsd:schema>
  </types>

  <message name="listEmployees">
    <part name="employeeName" type="tns:getEmployeeName" />
	<part name="officeID" type="tns:getOfficeID" />
  </message>
  
  <message name="listEmployeesResponse">
    <part name="return" type="tns:return" />
  </message>

  <portType name="EmployeesPort">
    <operation name="listEmployees">
	  <input message="tns:listEmployees" />
	  <output message="tns:listEmployeesResponse" />
	</operation>
  </portType>

  <binding name="EmployeesBinding" type="tns:EmployeesPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
	  <operation name="listEmployees">
	    <soap:operation soapAction="urn:EmployeesAction" />
		<input>
		  <soap:body use="encoded" namespace="urn:Employees" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
		</input>
		<output>
		  <soap:body use="encoded" namespace="urn:Employees" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
		</output>
	  </operation>
  </binding>

  <service name="EmployeesService">
    <port name="EmployeesPort" binding="tns:EmployeesBinding">
	  <soap:address location="http://localhost/php-soap/server.php" />
	</port>
  </service>

</definitions>